[submodule "SwiftGit2"]
        path = SwiftGit2 
        url = https://github.com/light-tech/SwiftGit2.git 
[submodule "Clibgit2"]
        path = Clibgit2
        url = https://lightech.visualstudio.com/LibGit2-On-iOS/_git/Clibgit2
